img {max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;}
    
    * {text-align: center;
    background-color: beige;}
    
    footer { color:#2a2a40; font-size: 18px;
    }